/* Component Stylesheet 
============================================================
============================================================*/

@font-face {
    font-family: DIY;
    src: url(fonts/MullerExtraBold.ttf);
}
@font-face {
    font-family: P;
    src: url(fonts/MullerThin.ttf);
}

.featurecontain {
	margin: 0 auto;
}

i {
	float: right;
	padding-right: 10px;
	color: #ccc;
	cursor: pointer;
}

i:hover {
	color: #666565;
}

.header {
	margin-left: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	height: 40px;
	width: 68%;
}

.imagehead {
	position: relative;
	top: 4px;
}

h1 {
	position: relative;
	left: 35px;
	bottom: 30px;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #5f5f5f;
}

body {
	background: #f9f9f9;
	margin-top: 30px;
}

.last {
	padding-top: 20px;
}

h2 {
	padding-top: 10px;
	font-size: 20px;
	width: 260px;
	height: 95px;
	color: #000;
	text-decoration-color: #E18728;
	font-family: P;
}

h2:hover {
	text-decoration: underline solid cyan;
}

.component {
	margin: 0 auto;
}

.featured {
	margin-left: 20px;
	width: 312px;
	border: 1px solid #ccc;
	float: left;
	background: #fff;
}

.featured img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-bottom: 1px solid #ccc;
}

span {
	margin-top: 10px;
	color: #8A8A8A;
	letter-spacing: 2px;
	font-family: P;
}

span:hover {
	color: #000;
}

.container-information {
	padding-top: 15px;
	padding-left: 15px;
	height: 175px;
}

p {
	font-size: 14px;
	font-family: P;
	display: inline;
	color: #8A8A8A;
}

a p:hover {
	color: #565656;
}

.when {
	float: right;
	margin-top: 2px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* responsive */

@media (max-width: 1000px) {
	
	.header {
		width: 645px;
	}
	
	.featured {
		margin-top: 20px;
	}
}

@media (max-width: 600px) {
	
	.header {
		width: 300px;
	}
	
	.featured {
		margin-top: 20px;
	}
}