<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Cameron Scott</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.css" />
</head>
<body>

	<!-- Component -->
    
    <section class="component">
    
    <section class="header">
    	<img class="imagehead" src="images/pin.png" alt="" />
        <h1>Things to Make</h1>
    </section>
    
    	<div class="featured hvr-float">
        	<img src="images/1.jpg" alt="" />
            	<div class="container-information">
            		<a href="#"><span>DIY</span></a><i class="fa fa-star" aria-hidden="true"></i>
            		<a href="#"><h2>We Made a Red Velvet Iced Coffee With Cream-Cheese</h2></a>
                    <div class="last">
                    	<a href="#"><p class="by">Roxy Taghavian</p></a>
                    	<a href="#"><p class="when">21 hours ago</p></a>
                    </div>
                </div>
        </div>
        
        <div class="featured hvr-float">
        	<img src="images/2.jpg" alt="" />
            <div class="container-information">
            		<a href="#"><span>DIY</span></a><i class="fa fa-star" aria-hidden="true"></i>
            		<a href="#"><h2>Yes, You Can Make the Unicorn Lamp of Your Dreams</h2></a>
                    <div class="last">
                    	<a href="#"><p class="by">Roxy Taghavian</p></a>
                    	<a href="#"><p class="when">Yesterday</p></a>
                    </div>
                </div>
        </div>
        
        <div class="featured hvr-float">
        	<img src="images/3.jpg" alt="" />
            <div class="container-information">
            		<a href="#"><span>DIY</span></a><i class="fa fa-star" aria-hidden="true"></i>
            		<a href="#"><h2>Solder Your Way to a New Gemstone Statement Necklace</h2></a>
                    <div class="last">
                    	<a href="#"><p class="by">Roxy Taghavian</p></a>
                    	<a href="#"><p class="when">2 days ago</p></a>
                    </div>
                </div>
        </div>
        
        <div class="featured hvr-float">
        	<img src="images/4.jpg" alt="" />
            <div class="container-information">
            		<a href="#"><span>DIY</span></a><i class="fa fa-star" aria-hidden="true"></i>
            		<a href="#"><h2>DIY This Leather Blanket Strap in Less Than 30 Minutes</h2></a>
                    <div class="last">
                    	<a href="#"><p class="by">Roxy Taghavian</p></a>
                    	<a href="#"><p class="when">2 days ago</p></a>
                    </div>
                </div>
        </div>
    
    </section>

	<!-- End Component -->
	
</body>
</html>