<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Cameron Scott</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    
    <div class="component">
    
    <div class="socialmedia">
    	<a href="#"><img class="hvr-grow" src="images/fb.png" alt="" /></a>
        <a href="#"><img class="hvr-grow" src="images/pin.png" alt="" /></a>
        <a href="#"><img class="hvr-grow"  src="images/ins.png" alt="" /></a>
        <a href="#"><img class="hvr-grow" src="images/tw.png" alt="" /></a>
    </div>
    
    <nav>
    	<div class="top">
        	<ul>
            	<li class="space"><a href="#">home</a></li>
                <li class="space"><a href="#">menu</a></li>
                <li class="space"><a href="#">story</a></li>
                <li class="space"><a href="#">detox</a></li>
                <li class="space"><a href="#">locations</a></li>
            </ul>
        </div>
        <div class="bottom">
        	<ul>
            	<li><a href="#">contact</a></li><span>|</span>
                <li><a href="#">blog</a></li><span>|</span>
                <li><a href="#">catering</a></li><span>|</span>
                <li><a href="#">delivery</a></li>
            </ul>
        </div>
    </nav>
    
    </div>

	<!-- End Component -->
	
</body>
</html>