<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Cameron Scott</title>

	<link rel="stylesheet" type="text/css" href="component.css" />
	
</head>
<body>

	<!-- Component -->

	<div id="component">

		<header><h1>Skill Assessment</h1></header>

		<div class="circles">
		
        	<div class="contain">
            
            	<div class="photoshop circle">
                	<h2>Photshop</h2>
        			<strong>60</strong>
    			</div>
                
                <div class="illustrator circle">
                	<h2>Illustrator</h2>
        			<strong>40</strong>
    			</div>
            
    			<div class="html circle">
                	<h2>HTML5</h2>
        			<strong>90</strong>
    			</div>
                
                <div class="css circle">
                	<h2>CSS3</h2>
        			<strong>80</strong>
    			</div>
                
                <div class="js circle">
                	<h2>JS</h2>
        			<strong>50</strong>
    			</div>
		
        	</div>        

		</div>
    
    </div>

	<!-- End Component -->
	
</body>

<script src="jquery.js"></script>
<script src="progress.js"></script>
<script src="main.js"></script>

</html>